name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json

    - name: Restore NuGet packages
      run: dotnet restore atlang.sln

    - name: Build the solution
      run: dotnet build atlang.sln --configuration Release --no-restore

    - name: Run tests
      id: run-tests
      continue-on-error: true
      run: dotnet test atlang.sln --no-build --configuration Release --verbosity normal -p:TestingPlatformCommandLineArguments="--report-trx --results-directory TestResults/ --coverage"

    - name: Upload test results
      if: always() && steps.run-tests.outcome != 'skipped'
      uses: actions/upload-artifact@v5
      with:
        name: test-results
        path: test/TestResults/

    - name: Fail pipeline if tests failed
      if: steps.run-tests.outcome == 'failure'
      run: |
        echo "Tests failed. Failing pipeline."
        exit 1

    - name: Upload compiler artifact
      uses: actions/upload-artifact@v5
      with:
        name: compiler-artifact
        path: compiler/bin/Release/net9.0/
